<% @all_posts.each_with_index do | element, i | %>
  <% break if i == 21%>
  <% if element.user == nil %>
  <% else %>
    <article class="content">
        <section class="post-feed">
          <img id="avatar" src="images/avatar.png">
            <h1 id="title"><%=element.title%></h1>
            <h2 id="username"> By <%="#{element.user.username}"%> </h2>
            <h6 id="real-name"><i> AKA <%="#{element.profile.first_name} #{element.profile.last_name}"%></i></h6>
            <p id="content"><%=element.content%></p>
        </section>
    </article>
  <% end %>
<% end %>