<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
  <title>Dumblr</title>
</head>
<body>
  <header>
      <article class="mini-header" id="signs">
        <% if session[:user_id] %>

          <!-- only show this code when signed in -->

          <!-- clicking on this link will hit the get "/sign-out" route -->
        <span class="mini-nav">
          <a class="sign-in-sign-out" href="/log_out" />Sign out</a>
        </span>

        <% else %>

          <!-- only show this code when signed out -->
        <span class="mini-nav">
          <a class="sign-in-sign-out" href="/log_in" />Sign In</a>
          <a class="sign-in-sign-out" href="/sign_up" />Sign Up</a>
        </span>
        
        <% end %>
      </article>
  </header>
  <section id="mtn">
    <div id="mt-1" class="mountain">
    </div>
    <div id="mt-2" class="mountain">
    </div>
    <div id="mt-3" class="mountain">
    </div>
    <div id="mt-4" class="mountain">
    </div>
  </section>
  <div id="moon-1">
    <div id="moon-2">
    </div>
  </div>
  <main>
    <section id="main-info">
  <%= yield %>
    </section>
  </main>
  <footer>
  </footer>
  <script src="scripts/main.js"></script>
</body>
</html>