<article class="content">
  <h1 id="sign-up">Sign In</h1>
  <form action="/log_in" method="post">
    <input class="forms" type="text" name="username" id="username" placeholder="Username"><br />
    <input class="forms" type="password" name="password" id="password" placeholder="Password"><br />
    <input style="width: 10vw;" id="sign-button" type="submit" value="Go">
  </form>
</article>
