<article class="content">
<% if session[:user_id] %>
  <h1 id="deact">Deactivate Your Profile</h1>
  <h3>Do you really want to do what no man has done before?</h3>
    <h5>If so, please input your username below and click.</h5>
  <form action="/settings" method="post">
    <input id="del-form" class="forms" type="text" name="title" id="title">
      <br />
    <input style="margin-top: 0;" id="sign-button" type="submit" value="ABORT!">
  </form>
<% else %>
  <h1>You need to be logged in to access this feature.</h1>
    <a href="/log_in"><button class="sign-button">LOG IN</button></a>
<% end %>
</article>
