<article class="content">
  <h1 id="sign-up">Sign Up</h1>

  <form action="/sign_up" method="post">
    <input class="forms" type="text" name="username" id="username" placeholder="Username">
    <input class="forms" type="password" name="password" id="password" placeholder="Password">
      <br />
    <input class="forms" type="text" name="first_name" id="first_name" placeholder="First Name">
    <input class="forms" type="text" name="last_name" id="last_name" placeholder="Last Name">
      <br />
    <input class="forms" type="email" name="email" id="email" placeholder="Email">
    <input class="forms" type="date" name="birthday" id="birthday" placeholder="Birthday">
      <br />
    <input id="sign-button" type="submit" value="Launch!">
  </form>
</article>
