$mainfont: 'Yanone Kaffeesatz', sans-serif;
$maincolor: #1D304D;
$lighttone: #67768F;
$midtone: #465875;
$lightesttone: #C6C8CD;


body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 40vw;
  overflow-x: hidden;
  background-color: #221818;
}

header {
  text-align: right;
  padding-top: 1vw;
  height: 2.5vw;
  background-color: $lightesttone;
  margin: 0 1vw 0 1vw;
  position: relative;
  z-index: 2;
}

.mini-nav {
  margin-right: 2vw;
}

.mountain {
  overflow: hidden;
  width: 10vw;
  height: 10vw;
}

#mtn {
  position: relative;
  height: 20vw;
}

#mt-1 {
  position: relative;
  z-index: -1;
  bottom: 12.5vw;
  left: 6.15vw;
  background-color: $lightesttone;
  width: 25vw;
  height: 25vw;
  transform: rotate(45deg);
}

#mt-2 {
  background-color: $midtone;
  transform: rotate(45deg);
  width: 17vw;
  height: 17vw;
  position: relative;
  z-index: -1;
  bottom: 35vw;
  left: 23vw;
}

#mt-3 {
  background-color: $lighttone;
  transform: rotate(45deg);
  width: 22vw;
  height: 22vw;
  position: relative;
  z-index: -2;
  bottom: 55vw;
  left: 28vw;
}

#mt-4 {
  background-color: grey;
  transform: rotate(45deg);
  width: 10vw;
  height: 10vw;
  position: relative;
  z-index: -3;
  bottom: 69vw;
  left: 50vw;
}

#moon-1 {
  width: 15vw;
  height: 15vw;
  background-color: lightgrey;
  position: relative;
  left: 80vw;
  bottom: 7vw;
  z-index: -2;
  border-radius: 10vw;
  animation: rotate-1 30s linear infinite;
}

#moon-2 {
  width: 3vw;
  height: 3vw;
  background-color: $lighttone;
  border-radius: 5vw;
  position: relative;
  left: 6vw;
  top: 6vw;
  animation: rotate 14s linear infinite;
}

footer {
  margin: 2vw 1vw 0 1vw;
  height: 4vw;
  background-color: $lightesttone;
  overflow: hidden;
  position: relative;
  bottom: 10vw;
}

.container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

main {
  background-color: grey;
  margin: 0 3vw 0 3vw;
  overflow: hidden;
  position: relative;
  bottom: 11vw;
}

#main-info {
  height: 110%;
  background-color: $midtone;
  margin: 5vw 0vw -1vw 5vw;
}

#signs {
  grid-column: 3;
}

.sign-in-sign-out {
  position: relative;
  top: 3vw;
  font-family: $mainfont;
  color: $lighttone;
  text-decoration: none;
  font-size: 1.8vw;
  padding-bottom: 0.2vw;
  text-transform: uppercase;
  margin-left: 1vw;
}

.sign-in-sign-out:hover {
  color: $maincolor;
  border-bottom: 1px $maincolor solid;
}

.content {
  position: relative;
  top: 0.5vw;
  margin: 2vw;
  text-align: center;
  background-color: $lightesttone;
}

@keyframes rotate {
  from { transform: rotate(0deg) translateX(11vw) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(11vw) rotate(-360deg); }
}

@keyframes rotate-1 {
  from { transform: rotate(0deg) translateX(20vw) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(20vw) rotate(-360deg); }
}